asgiref==3.5.2
black==24.3.0
click==8.1.7
dj-database-url==1.0.0
Django==4.1.2
django-extensions==3.2.3
djangorestframework==3.14.0
mypy-extensions==1.0.0
packaging==24.0
pathspec==0.12.1
platformdirs==4.2.0
psycopg2==2.9.5
python-decouple==3.6
pytz==2022.5
sqlparse==0.4.3
tomli==2.0.1
typing_extensions==4.10.0
